<a href="https://colab.research.google.com/github/avgCoderr/Titanic-Kaggle-Dataset/blob/main/titanic_learning_from_disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [159]:
import numpy as np 
import pandas as pd 

#uploading files on current session storage
from google.colab import files
uploaded = uploaded = files.upload()

In [160]:
train_data = pd.read_csv('train.csv')
print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [161]:
test_data = pd.read_csv('test.csv')
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [162]:
train_data.drop(['Name', 'Ticket', 'Cabin'], inplace=True, axis=1)    
test_data.drop(['Name', 'Ticket', 'Cabin'], inplace=True, axis=1)

In [163]:
print(train_data.info())
print()
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB
None

In [164]:
train_data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [165]:
combined_data = [train_data, test_data]    #combining to avoid copy pasting same line of code

for cell in combined_data:
    cell.Embarked = cell.Embarked.fillna('S')    #filling the few Embarked NA values with MODE of data

print(train_data.info())
print()
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB
None

In [166]:
combined_data = [train_data, test_data]
gender_map = {'female':1, 'male':0}    #mapping to convert Object class to Integer class, provided appropritate value to each Object

for cell in combined_data:
    cell['Sex'] = cell['Sex'].map(gender_map)

In [167]:
combined_data = [train_data, test_data]
embarked_map = {'S':0, 'C':1, 'Q':2}    #mapping to convert Object class to Integer class, provided appropritate value to each Object

for cell in combined_data:
    cell['Embarked'] = cell['Embarked'].map(embarked_map)

In [168]:
combined_data = [train_data, test_data]    #filling NA with mean values

for cell in combined_data:
  cell.Fare = cell.Fare.fillna(cell.Fare.mean())
  cell.Age = cell.Age.fillna(cell.Age.mean())

In [169]:
X_train = train_data.drop(['Survived', 'PassengerId'], axis=1)    
Y_train = train_data['Survived']

X_test = test_data.drop('PassengerId', axis=1)

In [170]:
#decision tree classifier
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
tree.fit(X_train, Y_train)

#random forest classifier
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
forest.fit(X_train, Y_train)

print('Decision Tree Classifier Training Accuracy:', tree.score(X_train, Y_train))
print('Random Forest Classifier Training Accuracy:', forest.score(X_train, Y_train))

Decision Tree Classifier Training Accuracy: 0.9820426487093153
Random Forest Classifier Training Accuracy: 0.9629629629629629

In [171]:
Y_predict = tree.predict(X_test)

In [172]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': Y_predict})
output.to_csv('submission_file.csv', index = False)

submit_data = pd.read_csv('submission_file.csv')
submit_data.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         1